* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mot-bg: #fffffe;
    --mot-tittle: #e53170;
    --mot-subtittle: #1a1a22;
    --mot-name: #fffff9;
    --mot-job: #fdf6e8;
    --mot-mail: #4fb6ca;
}