* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */
:root {
    --mot-bg: #fffffe;
    --mot-tittle: #e53170;
    --mot-subtittle: #1a1a22;
    --mot-name: #fffff9;
    --mot-job: #fdf6e8;
    --mot-email: #4fb6ca;
    --mot-bg_members: #0f0e17;
}

body{
    font-family: 'Raleway', sans-serif;
}
.my-3 {
    margin: 0.7rem 0;
}

/* header */
.app_header {
    height: 100px;
    margin-bottom: 80px;
}

.app_header > h1 {
    font-size: 3rem;
    color: var(--mot-tittle);
    text-align: center;
    padding-top: 50px;
}

/* main */

.container {
    width: 70%;
    margin: auto;
}

.subtittle {
margin-bottom: 50px;
}

.subtittle > p {
    font-size: 1.5rem;
    text-align: center;
    color: var(--mot-subtittle);
}

/* members */

.members::after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 50px;
}


.col {
    height: 100%;
    float: left;
    width: calc(100% / 3 - 40px);
    background-color: var(--mot-bg_members);
    margin: 0 20px;
}

.col::after {
    content: "";
    display: table;
    clear: both;
    width: calc(100% / 2)
}


.left {
    float: left;
    height: 150px;
}

.right {
    float: left;
    width: 58%;
    margin-left: 2rem;
    height: 150px;
}

img {
    height: 150px;
}

.name {
    font-size: 1.75rem;
    color: var(--mot-name);
    display: inline-block;
    width: 100%;
}

.job {
    font-size: 1.25rem;
    color: var(--mot-job);
    display: inline-block;
}

.email {
    font-size: 1.25rem;
    color: var(--mot-email);
    text-decoration: none;
    display: inline-block;
}

/* footer */

.app_footer {
    text-align: center;
}
